<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Suite" parallel="tests" thread-count="2">
    <test name="Selenium Tests">
        <classes>
            <class name="org.homework.dz15.ApiTests"/>
            <class name="org.homework.dz12.LoginTest"/>
        </classes>
    </test>
</suite>